{{define "block"}}
    <main>
     <section>
      <div>
       <ul>
         <li>Hash : {{.Hash}}</li>
         <li>Height : {{.Height}}</li>
       </ul>
      </div>
     </section>
    </main>
{{end}}